{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/cardAlbums.css">
    <link rel="stylesheet" href="/assets/css/scrolldown.css">
{% endblock %}

{% block content %}

    <div class="container">

        <div class="top-panel"></div>
        <div class="row d-flex flex-wrap intro">
            <h1>Les Albums</h1>
        </div>
        <div class="row mt-5">

            <div class="col-md-4" data-url="/albums/sunday" >
                <div class="dcard">
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>

                    <div class="paracard" style="background-image: url(https://scontent.flux1-1.fna.fbcdn.net/v/t1.0-9/74534847_831499103935941_5391091538904219648_o.jpg?_nc_cat=106&_nc_ohc=BomwMpuX-E0AQmz7_uvOq7-Q_rHGYpM5j9qIHbiIakpYIMCXG1q8CbezQ&_nc_ht=scontent.flux1-1.fna&oh=33926a17f33e0aefa5fe515cd14be081&oe=5E785EC3);">
                        <div class="frame">
                            <h2>Sunday</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4" data-url="/albums/toujours">
                <div class="dcard">
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>

                    <div class="paracard" style="background-image: url(https://scontent.flux1-1.fna.fbcdn.net/v/t31.0-8/19250828_340093026409887_157311504364098342_o.jpg?_nc_cat=110&_nc_ohc=5vRnRChIQSIAQkgC_i4NbC0CUnYgrEcufDGPeaYl0GAT9zJWBcKxJGInQ&_nc_ht=scontent.flux1-1.fna&oh=c943bc240cdc5ef7dd7f4e5169edeafd&oe=5E722097);">
                        <div class="frame">
                            <h2>SKATEBOARDING</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4" data-url="/albums/memphis">
                <div class="dcard">
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>
                    <div class="trigger"></div>


                        <div class="paracard" style="background-image: url(https://scontent.flux1-1.fna.fbcdn.net/v/t1.0-9/79022507_831492657269919_1136420412054306816_o.jpg?_nc_cat=109&_nc_ohc=mo2n69IFYSwAQl8RnH9OiB8QBHFULt8Aj0wtWue617Hlw3UcTDeO7ti7g&_nc_ht=scontent.flux1-1.fna&oh=89818bfa2aa4baf8d0e99c0e41a250de&oe=5EAF0AA7);">
                            <div class="frame">
                                <h2>MEMPHIS</h2>
                            </div>

                        </div>
                </div>
            </div>


        </div>


    </div>


<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        const div = document.getElementsByClassName('col-md-4');
        console.log(div);
        for(let i = 0; i < div.length; i++) {
            div[i].addEventListener("click", function(e) {
                window.location = e.currentTarget.getAttribute('data-url');
            })
        }
    });
</script>
{% endblock %}






