{% extends 'layout.html.twig' %}
{% block content %}
<body>
    <h1 class="text-center py-3"></h1>
        <div class="blog">
            <h4 class="text-center py-3">Sony α7 III</h4>
            <div class="SonyCamera">
            <img class="card-img-top img-fluid" src="/assets/images/Capture d’écran 2020-01-08 à 14.41.32.png" alt="Sony α7 III">
            </div>
        </div>
    <h1 class="text-center py-3"></h1>
    <div class="blog">
        <h4 class="text-center py-3">Voigtländer 40mm f/1.4</h4>
        <div class="Voigtländer">
        <img class="card-img-top img-fluid" src="/assets/images/Capture d’écran 2020-01-10 à 11.35.12.jpg" alt="Sony α7 III">
        <p align="center"></p>
        </div>
    </div>


</body>
{% endblock %}
