<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/vhs.css">

    {% block stylesheet %}{% endblock %}
</head>
<body>
<div class="container">
    <aside class="calendar">
        <ul >
            <li id="clock"></li>
            <li id="date"></li>
        </ul>
    </aside>

    <aside class="play">
        <a onclick="background()">PLAY ></a>
    </aside>

    <h1>HOW MANY REAL FRIEND ?</h1>
    <div>


    <script>
    document.addEventListener("DOMContentLoaded", function(event) {
        const body = document.querySelector('body');
        body.addEventListener("click", function () {
            window.location = '/home/index';
        });

    });
</script>
</body>


<script src="./assets/js/vhscript.js"></script>
{% block javascript %}{% endblock %}
</blink>


</html>
