{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/shop-homepage.css">
{% endblock %}
{% block content %}



    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <h1 class="my-1">BEE</h1>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/18422111_322986724787184_8259330534204112837_o.jpg?_nc_cat=104&_nc_ohc=8ByaCTU6Fg0AQk_ik8v8xT-lkqKhm9mB8gqUaKGnqg_XhndCdgZ1rh1QQ&_nc_ht=scontent-frt3-1.xx&oh=18b52057367f0fd60d8d3d8f252210c8&oe=5EAC0A0E" alt="">
                    <div class="card-body">
                        <h4 class="card-title">BEE</h4>
                        <h6></h6>
                        <p class="card-text">

                            Prix suivant taille et support  - Taxes incluses.<br>
                            Disponible dans en Taille:
                            30X20 &nbsp;&nbsp; 45X30 &nbsp;&nbsp; 60X40 &nbsp;&nbsp; 70X45 &nbsp;&nbsp; 120X80<br>

                            Disponible dans les Matériaux:
                            FINE-ART PRINT - ALU-DIBOND - ACRYLIC GLASS.</p>
                    </div>
                </div>


            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->

    {% include 'Shop/Print.html.twig' %}
    <footer>

        <!-- Copyright -->
        <div class="footerr text-center py-3">© 2019 Copyright:
            <a>LESTAGE Maxime</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}
