{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/shop-homepage.css">
{% endblock %}
{% block content %}



    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <h1 class="my-1">Paris</h1>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="https://scontent-frx5-1.xx.fbcdn.net/v/t31.0-8/18953567_334390746980115_910970751749441102_o.jpg?_nc_cat=105&_nc_ohc=bLebaodeArwAQmOOGHmaRxUZ3jf5NLhW1hhz0zszuO6_aTwgvSqp_e9iA&_nc_ht=scontent-frx5-1.xx&oh=f5e68c9fc3514d228a61612b8b05454e&oe=5EA549B1" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Paris</h4>
                        <h6></h6>
                        <p class="card-text">

                            Prix suivant taille et support  - Taxes incluses.<br>
                            Disponible dans en Taille:
                            30X20 &nbsp;&nbsp; 45X30 &nbsp;&nbsp; 60X40 &nbsp;&nbsp; 70X45 &nbsp;&nbsp; 120X80<br>

                            Disponible dans les Matériaux:
                            FINE-ART PRINT - ALU-DIBOND - ACRYLIC GLASS.</p>
                    </div>
                </div>


            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->
    {% include 'Shop/print.html.twig' %}
    <footer>

        <!-- Copyright -->
        <div class="footerr text-center py-3">© 2019 Copyright:
            <a>LESTAGE Maxime</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}
