{% block content %}


    {% block stylesheet %}

        <link rel="stylesheet" href="/assets/css/cardAlbums.css">
        <link rel="stylesheet" href="/assets/css/scrolldown.css">
        <link rel="stylesheet" href="/assets/css/print.css">
    {% endblock %}

    <h4 class="my-4 text-center ">Les Presets</h4>

<div class="row mt-5">

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="./Rich_Mono" target=”_blank”><img class="card-img-top" src="https://presetlove.com/wp-content/uploads/2017/08/Rich-Mono-PresetLove-beforeafter-3.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="./Rich_Mono" target=”_blank”>Rich Mono</a>
                </h4>
                <h5>$12.99</h5>
                <p class="card-text">Rich Mono is a Lightroom preset that turns colorful images to black and white. This monochromatic preset adds not only black and white colors but a sepia tone which makes photos look vintage. This blend ensures that your photos retain their visual depth by keeping highlights and shadows well defined. It is designed for a wide range of photography, whether shot indoors or outdoors, and can be used for portraits, landscapes, and more.</p>
            </div>

        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="./Wildlife" target=”_blank”><img class="card-img-top" src="https://presetlove.com/wp-content/uploads/2018/10/Wildlife-PresetLove-beforeafter-4.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="./Wildlife" target=”_blank”>Wildlife</a>
                </h4>
                <h5>$9.99</h5>
                <p class="card-text">Wildlife Preset is a Lightroom preset designed for taking animals, nature and wildlife photography. It improves the quality of photos by increasing color saturation and sharpening that helps in bringing out the finer details especially in animal photos. This preset gives wildlife pictures fascinating effects.</p>
            </div>

        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://presetlove.com/wp-content/uploads/2017/01/Cinema-Stock-2-PresetLove-beforeafter-5.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Cinema Stock 2</a>
                </h4>
                <h5>$14.99</h5>
                <p class="card-text"> The Cinema Stock 2 preset is a lightroom preset that is very similar to Cinema Stock 1 because it also makes photos look retro. This preset increases green colors in pictures. </p>
            </div>

        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://presetlove.com/wp-content/uploads/2014/06/4th-of-July-PresetLove-beforeafter-5.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">4th of July</a>
                </h4>
                <h5>$17.99</h5>
                <p class="card-text">4th of July is a Lightroom preset designed for your memorable 4th of July captures. It has a classic look that gives an air of historic significance and festive celebration. It handles warm colors very well, especially the blue and red of the country's flag.

                    You may also try this preset on photos taken indoor and outdoors. It is a versatile preset to use; if you want a rich vintage look, apply this preset on images with plenty of shadows; these will be tinted in magenta and will have more of a retro feel. The lighter tones will be infused with green, as you will see in the examples below.</p>
            </div>

        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://presetlove.com/wp-content/uploads/2018/09/Cinematic-PresetLove-beforeafter-1.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Cinematic 2</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">The Cinematic 2 Preset is a lightroom preset that unpacks the brown colors in photos. Similar to the Aged Film preset, it gives a warm temp in pictures, increasing its contrast and sometimes adds vignette. It decreases the saturation and highlights in photographs too.</p>
            </div>

        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://presetlove.com/wp-content/uploads/2016/06/Northern-Lights-PresetLove-beforeafter-5.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Northern Lights</a>
                </h4>
                <h5>$19.99</h5>
                <p class="card-text">Northern Lights Lightroom preset was specially designed to draw out the delicate colors of the Aurora. It finely adjusts tones to help bring out the phenomenon's magical and ethereal feel. It stays true to the intricate colors that you see in the sky; the preset loyally refines the image and does not alter any of its elements.

                    It is a versatile preset to use in outdoor nighttime photography, but it does specialize in bringing out the colors of the night sky and landscape.

                    If you are looking for a filter that will improve the hues in your photograph, Northern Lights is the one to use. It will look great in print and on-screen, from casual Instagram shots to professional astrophotography.</p>
            </div>

        </div>
    </div>

</div>
<!-- /.row -->



<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>


{% endblock %}
