{% block content %}



    {% block stylesheet %}
        <link rel="stylesheet" href="/assets/css/cardAlbums.css">
        <link rel="stylesheet" href="/assets/css/scrolldown.css">
        <link rel="stylesheet" href="/assets/css/print.css">
    {% endblock %}

    <h4 class="my-4 text-center ">Les Prints</h4>

        <div class="container">

            <div class="top-panel"></div>
            <div class="row d-flex flex-wrap intro">

            </div>
            <div class="row mt-5">

                <div class="col-md-4" data-url="./Sea">
                    <div class="dcard">
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>

                        <div class="paracard" style="background-image: url(https://scontent-frx5-1.xx.fbcdn.net/v/t31.0-8/15724604_261994227553101_314224950197596491_o.jpg?_nc_cat=105&_nc_ohc=l0w5LVOVQs4AQlgXZ-uNfJEKeA_qEBk_UM_ezbtr1rvct75S_J1Vc4JjQ&_nc_ht=scontent-frx5-1.xx&oh=d500a983e0e75f6852863448ea0d960e&oe=5E919B10);">
                            <div class="frame">
                                <h2>Sea</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" data-url="./Night">
                    <div class="dcard">
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>

                        <div class="paracard" style="background-image: url(https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/15129672_244698239282700_6704721216811857194_o.jpg?_nc_cat=107&_nc_ohc=83o8vCbtyFkAQl_viOxO8teptu2i5CNAo1DeJ_q6N61Y1wY1zyI_OmLOw&_nc_ht=scontent-frt3-1.xx&oh=9ac4f4eb6372a6942ee760b482590330&oe=5EA1DA5E);">
                            <div class="frame">
                                <h2>Night</h2>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4" data-url="./Magenta">
                    <div class="dcard">
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>

                        <div class="paracard" style="background-image: url(https://scontent-frx5-1.xx.fbcdn.net/v/t31.0-8/14560209_215117262240798_3298903495463980822_o.jpg?_nc_cat=110&_nc_ohc=4DLf1ssvMvwAQn-Pns4Dr6DogUrjakUoZ-fVqtzqKwflVr3ztp4IUpmiA&_nc_ht=scontent-frx5-1.xx&oh=0f4669bf0573cd794110b4500e7698d1&oe=5E967B1D);">
                            <div class="frame">
                                <h2>Max Guyot</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" data-url="./Plane">
                    <div class="dcard">
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>

                        <div class="paracard" style="background-image: url(https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/15625868_257011291384728_8627917459809616427_o.jpg?_nc_cat=107&_nc_ohc=M_2k5YnX9rwAQlLTRxBZluoAmrLDDjQCV2kt3XdErMswJ8WwCy27lMIcQ&_nc_ht=scontent-frt3-1.xx&oh=231db211208cc07a53cf74b7c2cb785c&oe=5EAD533D);">
                            <div class="frame">
                                <h2>Plane</h2>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4" data-url="./AgfaVista">
                    <div class="dcard">
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>

                        <div class="paracard" style="background-image: url(https://scontent-frx5-1.xx.fbcdn.net/v/t31.0-8/23331468_396434674109055_3474867675426227894_o.jpg?_nc_cat=111&_nc_ohc=H7ER9kbkUwIAQlebiognMMe-zco1NKWLmEO9JztsuTKA0DWMrJQTDBIDA&_nc_ht=scontent-frx5-1.xx&oh=deed824218fb9ae2c8f4c0998b3a51ff&oe=5EA2B08B);">
                            <div class="frame">
                                <h2>AGFA VISTA</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" data-url="./Microcosmos">
                    <div class="dcard">
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>

                        <div class="paracard" style="background-image: url(https://scontent-frt3-2.xx.fbcdn.net/v/t31.0-8/19390814_341380462947810_7427128736427532804_o.jpg?_nc_cat=109&_nc_ohc=3y9drKTyS0oAQktTEWUJRJXJpEU92HCTyDgtIcBEoOtMp2yE2g5Es-dGQ&_nc_ht=scontent-frt3-2.xx&oh=a9bea4518c3be25712485ac1b1c197a9&oe=5EA2EC87);">
                            <div class="frame">
                                <h2>Microcosmos</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" data-url="./Paris">
                    <div class="dcard">
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>


                        <div class="paracard" style="background-image: url(https://scontent-frx5-1.xx.fbcdn.net/v/t31.0-8/18953567_334390746980115_910970751749441102_o.jpg?_nc_cat=105&_nc_ohc=bLebaodeArwAQmOOGHmaRxUZ3jf5NLhW1hhz0zszuO6_aTwgvSqp_e9iA&_nc_ht=scontent-frx5-1.xx&oh=f5e68c9fc3514d228a61612b8b05454e&oe=5EA549B1);">
                            <div class="frame">
                                <h2>Paris</h2>
                            </div>

                        </div>
                    </div>
                </div>



                <div class="col-md-4" data-url="./Bee">
                    <div class="dcard">
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>


                        <div class="paracard" style="background-image: url(https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/18422111_322986724787184_8259330534204112837_o.jpg?_nc_cat=104&_nc_ohc=8ByaCTU6Fg0AQk_ik8v8xT-lkqKhm9mB8gqUaKGnqg_XhndCdgZ1rh1QQ&_nc_ht=scontent-frt3-1.xx&oh=18b52057367f0fd60d8d3d8f252210c8&oe=5EAC0A0E);">
                            <div class="frame">
                                <h2>BEE</h2>
                            </div>

                        </div>
                    </div>
                </div>



                <div class="col-md-4" data-url="./Bardenas">
                    <div class="dcard">
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>
                        <div class="trigger"></div>


                        <div class="paracard" style="background-image: url(https://scontent-frx5-1.xx.fbcdn.net/v/t31.0-8/18193083_318697591882764_2730944078053864280_o.jpg?_nc_cat=105&_nc_ohc=szqGxwA7imUAQn7SXt-7ThR6-teSv4JrglTPxlHfMWEco12AWIJvuZeOg&_nc_ht=scontent-frx5-1.xx&oh=daffffe60dbfe5e30a336be872ddd0db&oe=5EA2F14A);">
                            <div class="frame">
                                <h2>BARDENAS </h2>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>


        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                const div = document.getElementsByClassName('col-md-4');
                console.log(div);
                for(let i = 0; i < div.length; i++) {
                    div[i].addEventListener("click", function(e) {
                        window.location = e.currentTarget.getAttribute('data-url');
                    })
                }
            });
        </script>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>




{% endblock %}

