{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/shop-homepage.css">
{% endblock %}
{% block content %}



    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-2">
                <h1 class="my-1">Rich Mono</h1>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="https://presetlove.com/wp-content/uploads/2017/08/Rich-Mono-PresetLove-beforeafter-3.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Rich Mono</h3>
                        <h4>$12.99</h4>
                        <p class="card-text">Rich Mono is a Lightroom preset that turns colorful images to black and white. This monochromatic preset adds not only black and white colors but a sepia tone which makes photos look vintage. This blend ensures that your photos retain their visual depth by keeping highlights and shadows well defined. It is designed for a wide range of photography, whether shot indoors or outdoors, and can be used for portraits, landscapes, and more.</p>
                        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                        4.0 stars
                    </div>
                </div>
                <!-- /.card -->

                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Product Reviews
                    </div>
                    <div class="card-body">
                        <p>Classic Film. Rich Mono preset focuses on the look of various alternative film processes as seen in this Ferris wheel image. All colors are switched to black and white. Notice how the textures appear sharper as the preset boosts clarity. To enhance the effect further, contrast, whites, and shadows are increased. These tweaks will constantly give you an image that is well-defined, never flat. You can still easily see various shades of gray, which indicates that the highlights are not overblown.</p>
                        <small class="text-muted">Posted by Pierre on 25/12/19</small>
                        <hr>
                        <p>Warm Brown. In the After photo above, the Rich Mono preset subtly gives a charming matte effect by adding brown hues in both highlights and shadows. This adds an elegant tinge of sepia. You can now also observe how the depth in the photo is enhanced by tweaking both the high and low spectrums. This effect is especially useful in outdoor photography, when you want to bring out the warmth of the captured moment and add a classic look and feel. So even with the black and white treatment, your resulting image will never appear flat. Mood is even enhanced when applying this special monochrome preset.</p>
                        <small class="text-muted">Posted by Jon on 24/02/18</small>
                        <hr>
                        <p>Depth and Detail. Rich Mono further enhances these tweaks with a generous increase in contrast and sharpening. Even with the retro look, your shots will consistently appear clear and rich in visual elements. To balance these, too, highlights and blacks are decreased. Note that no detail is lost throughout these improvements. As can be observed in the example above, this monochrome filter is also ideal for portraiture. This does not have to be only for formal shots; this effect can even be casually applied to profile images in various online accounts, or even social media like Facebook and Instagram.</p>
                        <small class="text-muted">Posted by Ben on 3/1/17</small>
                        <hr>
                        <a href="#" class="btn btn-success">Leave a Review</a>
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->
    {% include 'Shop/Preset.html.twig' %}
    <footer>

        <!-- Copyright -->
        <div class="footerf text-center py-3">© 2019 Copyright:
            <a>LESTAGE Maxime</a>
        </div>
        <!-- Copyright -->

    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}
