{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/shop-homepage.css">
{% endblock %}
{% block content %}



    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <h1 class="my-1">Sea</h1>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="https://scontent-frx5-1.xx.fbcdn.net/v/t31.0-8/15724604_261994227553101_314224950197596491_o.jpg?_nc_cat=105&_nc_ohc=l0w5LVOVQs4AQlgXZ-uNfJEKeA_qEBk_UM_ezbtr1rvct75S_J1Vc4JjQ&_nc_ht=scontent-frx5-1.xx&oh=d500a983e0e75f6852863448ea0d960e&oe=5E919B10" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Sea</h4>
                        <h6></h6>
                        <p class="card-text">

                            Prix suivant taille et support  - Taxes incluses.<br>
                            Disponible dans en Taille:
                            30X20 &nbsp;&nbsp; 45X30 &nbsp;&nbsp; 60X40 &nbsp;&nbsp; 70X45 &nbsp;&nbsp; 120X80<br>

                            Disponible dans les Matériaux:
                            FINE-ART PRINT - ALU-DIBOND - ACRYLIC GLASS.</p>
                    </div>
                </div>


            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->
    {% include 'Shop/Print.html.twig' %}
    <footer>

        <!-- Copyright -->
        <div class="footerr text-center py-3">© 2019 Copyright:
            <a>LESTAGE Maxime</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}
