{% extends 'layout.html.twig' %}
{% block stylesheet %}

{% endblock %}

{% block content %}

    <div class="magenta">
        <img src="https://scontent.flux1-1.fna.fbcdn.net/v/t1.0-9/78372612_830879043997947_3895577827583459328_o.jpg?_nc_cat=106&_nc_ohc=J3oJLe6IdFMAQmMwgkfDuNDCK6c-bO6rlw_VAI9Hs2n1p9TKSePRnPKyw&_nc_ht=scontent.flux1-1.fna&oh=b5530235a05f7157fc3897f34d53de45&oe=5EAEF7A1">
    </div>
    <div class="aboutMe">





    </div>




{% endblock %}
